@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* using rem unit */
html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
}

.purchase-vip {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: 1;
  gap: 20px 0;
  padding: 20px;
  cursor: pointer;
}

.purchase-vip-content {

  height: 550px;
  width: 600px;
  padding: 25px;
  border-radius: 20px;
  position: relative;
  background-color: #fff;
  cursor: auto;
}

.purchase-vip-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 10rem;
  background-color: #ca4345;
  color: white;
  cursor: pointer;
}

.image img {
  height: 280px;
  width: 100%;

}

.purchase_item {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 140%;
  width: 100%;
  padding: 15px;
  background-color: #dcdadaa9;
  font-size: 13px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.purchase_item:hover,
.purchase_item:focus {
  background-color: #eee4e4a9;
  border: rgb(202, 173, 67) solid 1px;
}

.vip-package {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.vip-price-new {
  margin-top: 18px;
  font-size: 20px;
}

.vip-price-old {
  margin-top: 10px;
  font-size: 15px;
  text-decoration: line-through;
  color: rgb(129, 133, 136);
}

.discount-vip {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: rgb(222, 192, 85);
  border-radius: 0 10px 0 10px;
  font-size: 12px;
}

.note-vip-price-old {
  margin-top: 5px;
  border: #ca5c43 solid 2px;
  color: #ca5c43;
  font-weight: bolder;
  padding: 0 5px;
  width: 75%;
  border-radius: 15px;
}

.button-purchase {
  display: grid;
  grid-template-columns: 30% 70%;
}

.total-price {
  background-color: rgb(35, 37, 43);
  padding: 10px 20px;
  color: #fff;
  font-size: 20px;
  border-radius: 5px 0 0 5px;
}

.price-button {
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: rgb(242, 190, 131);
  font-size: 18px;
}